/***************************
        Dojo Css
***************************/
@media screen and (min-width: 320px) {

body {
  background-color: orange;
}
  input.toggle, label.toggle { display: none; }
	label.toggle {
	  font-weight: 900;
	  font-size: 1.2em;
	  padding: 10px 20px;

	}

main{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;

}

header{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
/* CSS MENU !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
li a:first-child:nth-last-child(2):after {
   content:"↓";
   }
ul {
    display: flex;
}
#menu a {
  color : #486c8c;
  text-decoration: none;

}
#menu a:hover {
  color: #486c8c;
  font-weight: bold;
}
.two {
padding : 10%;

}

li {
  height: 18px;
  width : 180px;
}

.one {
  background : #486c8c;
  padding-left : 25px;
  padding-right: 25px;
  margin: auto;
}
.client {
  background : #486c8c;
  padding-left : 38px;
  padding-right: 39px;
  margin: auto;
}
.because {
  background : #486c8c;
  padding-left : 30px;
  padding-right: 31px;
  margin: auto;
}
.testi {
  background : #486c8c;
  padding-left : 30px;
  padding-right: 31px;
  margin: auto;
}

#menu {
  padding : 0;
  font-weight: bold;
}
#menu li {
  padding : 0px;
  text-align: center;
}

#menu li ul {
  display : none;
  padding : 0px;
}
#menu li:hover ul {
  display : block;
}
#menu li ul a{
  color: white;
}
#menu li ul a:hover {
  color : white;
  background: #5961D7;
}

li {
    list-style: none;
    margin-right: 5px;
}
li:first-child {
    color: #486c8c;
}
/*MENU CSS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


.title{
    text-align: center;
    background-image: url("./img/bg.jpg");
    height : 400px;
    background-position: center center;
    margin : 40px;

}

.second_text{
    flex : 5;
    text-align: center;
}
.last_section {
    display: flex;



}

.blue {
    color: #486c8c;
}

.grey {
    color: #bbbbae;
}

button {
    margin: auto;
    border-radius: 3px;
    border: none;
    color: white;
    background-color: #486c8c;
    padding: 1%;
}


.ok{
    margin-top: 150px;
color: white;

}

.logo {
    margin:auto;

}

.last_section article{
    display:flex;
    flex-direction:column;
    align-content:center;
    text-align:center;
    justify-content:center;
}
}

@media screen and (max-width: 320px) {
  body {
    background-color: green;
  }
	  nav { display: none; }
	  input.toggle {
      display: none;
    }
span {
  font-weight: bold;
  font-family: sans-serif;
}
	  input[type=checkbox]:checked ~ nav,  label.toggle {

	    display: block;
	    cursor: pointer;
	  }
	  nav li {
      float: none;
    }
	  nav li:hover ul {
	    display: block;
	    position: relative;
	  }
	  nav li ul {
      display: block;
    }
	  nav li ul li { margin-left: 20px; }

	  nav li a {
	    display: block;
	    margin-left: 20px;
	  }
    #menu a {
      font-weight: bold;
      text-decoration: none;
      color: black;
    }
    li {
      text-align: center;
      list-style: none;
      border: solid 1px black;
    }
    #menu li ul a:hover {
      color : black;
      background: #00AE96;
      font-weight: bold;
    }
    #menu li ul {
      display : none;

    }
    #menu li:hover ul {
      display : block;
    }
    #menu li ul a{
      color: black;
      background: #0063AE;
    }
    #menu {
      background: #486c8c;
      padding : 0px;
      width: 100%;
      font-family: sans-serif;
      margin: 0px;
    }
    #menu li {
    width: 100%;
    padding: 0px;
    margin: 0px;
    }
    #menu li .second {
    padding: 0px;
    }
    .second li{
      margin: 0px;
      padding: 0px;
    }
   a.one, a.two, a.because, a.testi, a.client {
     margin: 0px;
   }


    .title{
        text-align: center;
        background-image: url("./img/bg.jpg");
        height : 400px;
        background-position: center center;
        margin : 40px;

    }


    .second_text{
        flex : 5;
        text-align: center;
    }
    .last_section {margin-top: 0px;
        display: flex;
        flex-direction: column;


    }

    .blue {
        color: #486c8c;
    }

    .grey {
        color: #bbbbae;
    }

    button {
        margin: auto;
        border-radius: 3px;
        border: none;
        color: white;
        background-color: #486c8c;
        padding: 1%;
    }


    .ok{
    margin-top: 30px;
    color: white;

    }

    .logo {
        margin:auto;

    }

    .last_section article{
        display:flex;
        flex-direction:column;
        align-content:center;
        text-align:center;
        justify-content:center;
    }
	}
